<div class="container">
  <form>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="col-md-4 col-sm-12">Task Name:</label>
        <div class="form-group-input col-md-8 col-sm-12">
          <input type="text" class="form-control" placeholder="Enter task name">
        </div>
      </div>
      <div class="col-md-6">
        <label class="col-md-4 col-sm-12">Priority:</label>
        <div class="form-group-input col-md-8 col-sm-12">
          <select class="form-select">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="col-md-4 col-sm-12">Start Date&Time:</label>
        <div class="form-group-input col-md-8 col-sm-12">
          <input type="datetime-local" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <label class="col-md-4 col-sm-12">End Date&Time:</label>
        <div class="form-group-input col-md-8 col-sm-12">
          <input type="datetime-local" class="form-control">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary add-task mb-3">Add</button>
  </form>
</div>
